@model ProductList.Web.Models.ProductCategoryViewModel

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/combobox.css" rel="stylesheet" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Delete product?</h4>
</div>

@using (Html.BeginForm())
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-success btn-sm" />
                <button class="btn btn-warning btn-sm" data-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery.combobox.js"></script>